day01/rust/script/Cargo.lock
day01/rust/script/Cargo.toml
day01/rust/script/target

day02/rust/Cargo.lock
day02/rust/Cargo.toml
day02/rust/target

day03/rust/rust/Cargo.lock
day03/rust/rust/Cargo.toml
day03/rust/rust/target


day04/rust/Cargo.lock
day04/rust/Cargo.toml
day04/rust/target

day05/rust/Cargo.lock
day05/rust/Cargo.toml
day05/rust/target